<%- include("partials/header") %>
<title> Home - SuperQuickMail </title>

    
<div class="container text-center text-light" style="padding-top: 110px; padding-bottom: 20px;">

        <h2>Welcome to SuperQuickMail Api</h2>
       
                        <a id="apikeybutton" href="#" onclick="CreateApiKey()" type="button" class="btn btn-primary"><i class="fas fa-plus-square"></i> Create an Api Key</a>
            <p id="apikey"></p>
            </div>
<script src="/js/index.js"></script>
<script src="/js/apikey.js"></script>
       