<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
            <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />

                <link rel="stylesheet" type="text/css" href="/css/reset.min.css">
                <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body >

    

        <h2>Welcome to SuperQuickMail Api</h2>
       
            <button type="button" onclick="CreateApiKey()">Create an Api Key</button>
<script src="/js/index.js"></script>
<script src="/js/apikey.js"></script>
       
    </body>
</html>