<%- include("../../partials/header") %>
<title> Home - SuperQuickMail </title>

    

            <div  class="container text-center text-light" style="padding-top: 110px; padding-bottom: 20px;">
                <h2>Login with Ouath</h2>
                <button type="button" class="btn btn-primary" onclick="window.location.assign(`<%= github %>`)"><i class="fab fa-github"></i> Github</button><button type="button" class="btn btn-primary" onclick="window.location.assign('<%= google %>');"><i class="fab fa-google"></i> Google</button>
                
               
            </div>
            
            
            

           

