<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/css/app.css">
<title> Home - SuperQuickMail </title>

<div id="main" class="container text-center text-light" style="padding-top: 110px; padding-bottom: 20px;">
    
        <h2>Welcome to SuperQuickMail</h2>

                    <a href="#" id="createapikey" onclick="CreateApiKey()" type="button" class="btn btn-success"><i class="fas fa-plus"></i> Create Api Key</a>


</div>
<script src="/js/app.js"></script>
       