<%- include("./../partials/header") %>
<title> Home - SuperQuickMail </title>

    

            <div  class="container text-center text-light" style="padding-top: 110px; padding-bottom: 20px;">
                <h2>Login</h2>
                <form id="loginform">
                    <input type="email" id="email" placeholder="Enter Email">
                    <input type="password" id="password" placeholder="Enter Password">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
                    <p id="logintext"></p>
                </form>
            </div>
<script src="/js/login.js"></script>
       